<div class="item item-1">
    <div class="body-item">
      <div class="thumbnail">
        <div class="body-item-0">
          <img src="https://images.pexels.com/photos/258117/pexels-photo-258117.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        </div>
      </div>
      <div class="content">
        <div class="body-item-1">
          <div class="play"><i class="fas fa-play"></i></div>
        </div>
        <div class="body-item-2">
          <div class="title">London-Big Ben</div>
        </div>
        <div class="body-item-3">
          <div class="time">Time</div>
        </div>
      </div>
    </div>
  </div>