
	<section class="banner">
		<header>
			<div class="w-10">
				<h1>Netflix</h1>
			</div>

			<div class="w-90">
				<nav>
					<div class="w-50">
						<ul>
							<li><a href="">Inicio</a></li>
							<li><a href="">Series</a></li>
							<li><a href="">Peliculas</a></li>
							<li><a href="">Agregados recientemente</a></li>
							<li><a href="">Mi lista</a></li>
                        </ul>
					</div>
					<div class="w-50 rigth">
						<ul>
							<li><a href=""><i class="fas fa-search"></i></a></li>
							<li><a href="">NIÑOS</a></li>
							<li><a href="" class="bell"><i class="fas fa-bell"></i></a></li>
							<li><a href="" class="sin-padding">
								<div class="img-content">
									<div class="img">
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiEX3Jt1P7bLIWZH48aiDEEbUQ-k6PFAK52Hc1NkoO3MY9ZkOP2w" class="img" alt="">
									</div>
									<div class="sort">
										<i class="sort fas fa-sort-down"></i>
									</div>
								</div>
							</a></li>
					
						</ul>
					</div>
				</nav>
			</div>
        </header>
        <div class="container">
			<div class="w-90">
				<h3><span class="n">N</span> Serie</h3>
				<h2>LA CASA DE PAPEL</h2>
				<a href="#"><i class="play fas fa-play"></i>Reproducir</a>
				<a href="#"><i class="play fas fa-plus"></i>Mi lista</a>
				<p>
					Una banda organizada de ladrones tiene el objetivo de cometer el atraco 
					<br>
					del siglo en la Fábrica Nacional de Moneda y Timbre. Cinco meses de 
					<br>
					preparación quedarán reducidos a once días para poder llevar a cabo 
					<br>
					con éxito el gran golpe.
				</p>
			</div>
			<div class="w-10 r">
				<p>R</p>
			</div>
		</div>
	</section>