@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;

	background-color: #0e0f11;
}
a {
	text-decoration: none;
	color: #fff;
}
:root {
	--tileWidth: 13vw;
	--tileHeight: calc(var(--tileWidth) / (16 / 9));
	--tileWidthBig: 26vw;
	--tileHeightBig: calc(var(--tileWidthBig) / (16 / 9));
}
/* XXX */
.page-head {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.page-head h1 {
	color: red;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
}

.section-frame {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);

	text-align: center;

	width: 100%;
	margin: auto;
	overflow: hidden;

	display: grid;
	grid-template-columns: repeat(3, 100%);

	/*   border: 2px solid green; */
}
.section-frame section {
	display: flex;
	align-items: center;
	justify-content: center;

	/*   border: 1px solid red; */
}
.section-frame section:hover .arrow-left,
.section-frame section:hover .arrow-right {
	opacity: 1;
}

.section-frame section .arrow-right,
.section-frame section .arrow-left {
	width: 3vw;
	height: var(--tileHeight);
	color: #fff;
	font-size: 2vw;
	background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, #000 100%);
	opacity: 0.2;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	transition: opacity 0.4s 0.3s, font-size 0.8s 0.3s;
}
.section-frame section .arrow-right:hover,
.section-frame section .arrow-left:hover {
	font-size: 3vw;
}

.section-frame section .item {
	background-color: #333;
	margin: 0 2px 0 2px;
	border-radius: 1px;
}

.section-frame section .item .body-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;

	position: relative;
}
.section-frame section .item .body-item:hover .thumbnail {
	width: var(--tileWidthBig);
	height: var(--tileHeightBig);
}
.section-frame section .item .body-item:hover .content {
	opacity: 1;
	visibility: visible;
	transition: opacity 1.2s .4s;
}
.section-frame section .item .body-item .thumbnail {
	width: var(--tileWidth);
	height: var(--tileHeight);

	transition: width 0.5s 0.2s, height 0.5s 0.2s;
}
.section-frame section .item .body-item .thumbnail .body-item-0 {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.section-frame section .item .body-item .thumbnail .body-item-0 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section-frame section .item .body-item .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));

	opacity: 0;
	visibility: hidden;

	position: absolute;
	bottom: 0;
	left: 0;

	padding-bottom: 12px;
}
.section-frame section .item .body-item .content .body-item-1 {
	margin-bottom: 1.5vw;
	text-align: center;
	opacity: 0.4;

	transition: opacity 0.4s, color 0.3s;
}
.section-frame section .item .body-item .content .body-item-1 .play {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.section-frame section .item .body-item .content .body-item-1 .play i {
	width: 4vw;
	height: 4vw;
	border-radius: 25vw;
	background: rgba(0, 0, 0, 0.5);
	border: 0.2rem solid white;
	padding: 1vw;
	font-size: 2.0vw;
	text-align: right;
}
.section-frame section .item .body-item .content .body-item-1:hover {
	opacity: 1;
	color: red;
}
.section-frame section .item .body-item .content .body-item-2 {
	width: 100%;
	padding-left: 12px;
	text-align: left;
	font-size: 1.6vw;
	overflow: hidden;
}
.section-frame section .item .body-item .content .body-item-3 {
	width: 100%;
	padding-left: 12px;
	text-align: left;
	font-size: 1.3vw;
}