/* CSS VARIABLES */
:root {
	--primary: #141414;
	--light: #F3F3F3;
	--dark: 	#686868;
  }
  
  html, body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--primary);
	color: var(--light);
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	line-height: 1.4;
  }
  
  img {
	max-width: 100%;
  }
  
  h1 {
	padding-top: 60px;
  }
  
  .wrapper {
	margin: 0;
	padding: 0;
  }
  
  /* HEADER */
  header {
	padding: 20px 20px 0 20px;
	position: fixed;
	top: 0;
	display: grid;
	grid-gap:5px;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas:
	 "nt mn mn sb . . . ";
	background-color: var(--primary);
	width: 100%;
	margin-bottom: 0px;
  }
  
  .netflixLogo {
	grid-area: nt;
	object-fit: cover;
  
  
	padding-left: 30px;
	padding-top: 0px;
  }
  
  .netflixLogo img {
	height: 55px;
  }
  
  #logo {
	color: #E50914;
	margin: 0;
	padding: 0;
  }
  
  
  .main-nav {
	grid-area: mn;
	padding: 0 30px 0 20px;
  }
  
  .main-nav a {
	color: var(--light);
	text-decoration: none;
	margin: 5px;
  }
  
  .main-nav a:hover {
	color: var(--dark);
  }
  
  .sub-nav {
	grid-area: sb;
	padding: 0 40px 0 40px;
  }
  
  .sub-nav a {
	color: var(--light);
	text-decoration: none;
	margin: 5px;
  }
  
  .sub-nav a:hover {
	color: var(--dark);
  }
  
  
  /* MAIN CONTIANER */
  .main-container {
	padding: 50px;
  }
  
  .box {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .box a {
	transition: transform .3s;
  }
  
  .box a:hover {
	transition: transform .3s;
	-ms-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
  }
  
  .box img {
	border-radius: 2px;
  }
  
  /* LINKS */
  .link {
	padding: 50px;
  }
  
  .sub-links ul {
	list-style: none;
	padding: 0;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
	color: var(--dark);
	text-decoration: none;
  }
  
  .sub-links a:hover {
	color: var(--dark);
	text-decoration: underline;
  }
  
  .logos a{
	padding: 10px;
  }
  
  .logo {
	color: var(--dark);
  }
  
  
  /* FOOTER */
  footer {
	padding: 20px;
	text-align: center;
	color: var(--dark);
	margin: 10px;
  }
  
  /* MEDIA QUERIES */
  
  @media(max-width: 900px) {
  
	header {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-areas:
	  "nt nt nt  .  .  . sb . . . "
	  "mn mn mn mn mn mn  mn mn mn mn";
	}
  
	.box {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: repeat(4, minmax(100px, 1fr));
	}
  
  }
  
  @media(max-width: 700px) {
  
	header {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-areas:
	  "nt nt nt  .  .  . sb . . . "
	  "mn mn mn mn mn mn  mn mn mn mn";
	}
  
	.box {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: repeat(3, minmax(100px, 1fr));
	}
  
	.sub-links ul {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: repeat(3, 1fr);
	}
  
  }
  
  @media(max-width: 500px) {
  
	.wrapper {
	  font-size: 15px;
	}
  
	header {
	  margin: 0;
	  padding: 20px 0 0 0;
	  position: static;
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: repeat(1, 1fr);
	  grid-template-areas:
	  "nt"
	  "mn"
	  "sb";
	  text-align: center;
	}
  
	.netflixLogo {
	  max-width: 100%;
	  margin: auto;
	  padding-right: 20px;
	}
  
	.main-nav {
	  display: grid;
	  grid-gap: 0px;
	  grid-template-columns: repeat(1, 1fr);
	  text-align: center;
	}
  
	h1 {
	  text-align: center;
	  font-size: 18px;
	}
  
  
  
	.box {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: repeat(1, 1fr);
	  text-align: center;
	}
  
	.box a:hover {
	  transition: transform .3s;
	  -ms-transform: scale(1);
	  -webkit-transform: scale(1);
	  transform: scale(1.2);
	}
  
	.logos {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: repeat(2, 1fr);
	  text-align: center;
	}
  
	.sub-links ul {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: repeat(1, 1fr);
	  text-align: center;
	  font-size: 15px;
	}
  
  
  
  
  
  }
  
  .banner{
	  background: black;
	  background-repeat: no-repeat;
	background-size: cover;
  
	  height: 500px;
	  width: 100%;
  
  }
  
  .w-90{
	width: 100%;
	padding-top: 10%;
  }
  .w-50{
	  width: 50%;
  }
  .w-10{
	  width: 10%;
  }
  
  /*Header*/
  header{
	display: flex;
	justify-content: space-between;
  
  
  }
  
  
  ul{
	  display: flex;
  }
  ul li{
	  list-style: none;
	  margin: 0 10px 0 10px;
  }
  ul li a{
	  display: inline-block;
	  color: #fff;
	  text-decoration: none;
	  padding: 10px 0 10px 0;
	  font-size: 1.1rem;
  }
  header .bell{
	  font-size: 1.3rem;
  }
  header .img{
	  width: 35px;
	  height: 55px;
  }
  header .img-content{
	  display: flex;
  }
  header .img-content .sort{
	  margin: 0 0 0 4px;
  }
  header .sin-padding{
	  padding: 5px 0 0 0;
  }
  
  /*Fin header*/
  
  /*Container*/
  .container{
	  margin: 0 10 10 0;
	  color: #fff;
	display: flex;
	align-content:center;
	padding-top: 10%;
  }
  .container .n{
	  color: red;
	  font-size: 2rem;
  }
  .container  h2, a, p{
	  padding: 20px 0 20px 0;
  }
  .container h3{
	  font-size: 1.2rem;
	  letter-spacing: 5px;
  }
  .container h2{
	  font-size: 3.2rem;
  }
  .container a{
	  display: inline-block;
	  text-decoration: none;
	  color: #fff;
	  padding: 10px 30px 10px 30px;
	  font-size: 1.1rem;
	  background: rgba(209, 208, 192, .2);
	  margin: 0 5px 0 0;
	  border-radius: 2px;
  }
  .container .play{
	  margin: 0 10px 0 0;
  }
  .container p{
	  font-size: 1.2rem;
  }
  .r{
	  display: flex;
	  justify-content: flex-end;
	  align-items: flex-end;
  }
  .r p{
	  background:  rgba(209, 208, 192, .2);
	  padding: 5px 50px 5px 10px;
	  margin: 20px 0 20px 0;
	  border-left: 5px solid #fff;
  }
  .rigth{
	  display: flex;
	  justify-content: flex-end;
  }
  /*Fin container*/
  
  
  
  
  
  
  header .img{
	  width: 35px;
	  height: 35px;
  }
  header .img-content{
	  display: flex;
  }
  header .img-content .sort{
	  margin: 0 0 0 4px;
  }
  