<header class="page-head">
    <h1>Netflix</h1>
  </header>
  
  <div class="section-frame">
  
    <!-- London -->
    <section id="section-1">
      <a href="#section-3" class="arrow-left"><i
           class="fas fa-chevron-left"></i></a>
      <div class="item item-1">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/258117/pexels-photo-258117.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">London-Big Ben</div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-2">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/19972/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">London-Tower Bridge</div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-3">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/89432/pexels-photo-89432.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">London-Westminster Station</div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-4">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/374815/pexels-photo-374815.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">London-Red Telephone Boost</div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-5">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/1578332/pexels-photo-1578332.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">London-Glass Dome Building</div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-6">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/1255409/pexels-photo-1255409.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">London-Empty Allyway</div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <a href="#section-2" class="arrow-right"><i
           class="fas fa-chevron-right"></i></a>
    </section>
  
    <!-- New York -->
    <section id="section-2">
      <a href="#section-1" class="arrow-left"><i
           class="fas fa-chevron-left"></i></a>
      <div class="item item-1">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/1058275/pexels-photo-1058275.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">New York - Time Square</div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-2">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/2850444/pexels-photo-2850444.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">New York - Central Park</div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-3">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/378570/pexels-photo-378570.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">New York - </div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-4">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/450597/pexels-photo-450597.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">New York - </div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-5">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/3889871/pexels-photo-3889871.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">New York - </div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-6">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/3889854/pexels-photo-3889854.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">New York - </div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
        </div>
      </div>
      <a href="#section-3" class="arrow-right"><i
           class="fas fa-chevron-right"></i></a>
    </section>
  
    <!-- San Francisco -->
    <section id="section-3">
      <a href="#section-2" class="arrow-left"><i
           class="fas fa-chevron-left"></i></a>
      <div class="item item-1">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/2104742/pexels-photo-2104742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">San Francisco - Golden Gate Bridge</div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-2">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/61109/pexels-photo-61109.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">San Francisco - </div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-3">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/462331/pexels-photo-462331.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">San Francisco - View of City Street</div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-4">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/1119114/pexels-photo-1119114.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">San Francisco - </div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-5">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/2263687/pexels-photo-2263687.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">San Francisco - </div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="item item-6">
        <div class="body-item">
  
          <div class="thumbnail">
            <div class="body-item-0">
              <img
                   src="https://images.pexels.com/photos/2157685/pexels-photo-2157685.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
          </div>
          <div class="content">
            <div class="body-item-1">
              <div class="play"><i class="fas fa-play"></i></div>
            </div>
            <div class="body-item-2">
              <div class="title">San Francisco - </div>
            </div>
            <div class="body-item-3">
              <div class="time">Time</div>
            </div>
          </div>
  
        </div>
      </div>
      <a href="#section-1" class="arrow-right"><i
           class="fas fa-chevron-right"></i></a>
    </section>
  
  </div>